{% extends '::base.html.twig' %}

{% block content %}
    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">
        {{ 'layout.register' | trans({}, 'FOSUserBundle') }}
    </a>
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">
        {{ 'layout.login' | trans({}, 'FOSUserBundle') }}
    </a>
{% endblock %}