{% extends '::base.html.twig' %}
{% trans_default_domain 'AppBundle' %}

{% block title %}
    {{ poll.title }}
{% endblock %}

{% block poll_title %}
    {{ poll.title }}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <h2 class="card-title text-center">
                        {{ 'front.poll.answer.thanks' | trans }}
                        <br>
                        &#9786;
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}