<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ path('backoffice') }}" class="nav-link">
                    <i class="icon-home"></i>
                    Accueil
                </a>
            </li>
            <li class="nav-item nav-dropdown open">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="icon-puzzle"></i> Sondages
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="{{ path('backoffice_polls') }}" class="nav-link">
                            <i class="icon-list"></i>
                            Liste des sondages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('backoffice_polls_add') }}" class="nav-link">
                            <i class="icon-plus"></i>
                            Ajouter un sondage
                        </a>
                    </li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('backoffice_users') }}" class="nav-link">
                        <i class="icon-user"></i>
                        Liste des utilisateurs
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
