.kdt-radio {
    text-align: center;
}

.kdt-radio [type="radio"],
.kdt-checkbox [type="checkbox"] {
    display: none;
}

.kdt-radio [type="radio"] ~ label,
.kdt-checkbox [type="checkbox"] ~ label {
    position: relative;
}

.kdt-radio [type="radio"] ~ label,
.kdt-checkbox [type="checkbox"] ~ label {
    height: 20px;
    width: 20px;
}

.kdt-radio [type="radio"] ~ label::before,
.kdt-radio [type="radio"] ~ label::after,
.kdt-checkbox [type="checkbox"] ~ label::before,
.kdt-checkbox [type="checkbox"] ~ label::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
}

.kdt-radio [type="radio"] ~ label::before,
.kdt-radio [type="radio"] ~ label::after {
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.kdt-radio [type="radio"] ~ label::before,
.kdt-checkbox [type="checkbox"] ~ label::before {
    border: 2px solid #4d4d4d;
    background-color: #fff;
}

.kdt-radio [type="radio"] ~ label::after,
.kdt-checkbox [type="checkbox"] ~ label::after {
    height: 0;
    width: 0;
    top: 10px;
    left: 5px;
    transition: all .1s linear;
}

.kdt-checkbox [type="checkbox"] ~ label::after {
    top: 10px;
    left: 10px;
}

.kdt-radio [type="radio"] ~ label::after {
    left: 50%;
    transform: translateX(-50%);
}

.kdt-radio [type="radio"]:checked ~ label::after,
.kdt-checkbox [type="checkbox"]:checked ~ label::after {
    top: 5px;
    background-color:  #20a8d8;
    height: 10px;
    width: 10px;
}

.kdt-checkbox [type="checkbox"]:checked ~ label::after {
    left: 5px;
    top: 5px;
}

.kdt-radio [type="radio"]:disabled ~ label,
.kdt-checkbox [type="checkbox"]:disabled ~ label {
    opacity: .5;
}
