<html>
    <p>
        Bonjour,
    </p>
    <p>
        Merci de compléter ce sondage
        <a href="{{ url }}" title="Liens vers le sondage">{{ url }}</a>
    </p>
    <p>
        Cordialement,
    </p>
    <p>
        Service de Messagerie Automatique - Kodrastan.
    </p>
</html>