@font-face {
    font-family: 'Raleway-Bold';
    src: url('../font/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('../font/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../font/Raleway-Light.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #e4e5e6;
    margin-bottom: 200px;
}

header, footer {
    width: 100%;
    height: auto;
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #263238;
    margin-bottom: 50px;
}

.logo {
    margin: 10px;
    height: 80px;
}

h1 {
    font-family: 'Raleway-Bold';
    color: #fff;
}

.card {
    margin-bottom: 20px;
}

h2 {
    font-family: 'Raleway-Regular';
}

hr {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.btn-send {
    color: #fff;
    background-color: #20a8d8;
    border-color: #20a8d8;
    border-radius: 0px;
    transition: all .2s ease-in-out;
}

.btn-send:hover {
    color: #fff;
    background-color: #2095d8;
    border-color: #2095d8;
}

footer {
    flex-direction: column;
    background-color: #fff;
    margin-top: 50px;
    position: absolute;
    height: 150px;
    bottom: 0;
}

.logo-iut {
    height: 80px;
    margin: 10px;
}

.signature {
    font-family: 'Raleway-Light';
}

/*--- Input radio/checkbox personnalisés ---*/

.kdt-radio {
    text-align: center;
}

.kdt-radio [type="radio"],
.kdt-checkbox [type="checkbox"] {
    display: none;
}

.kdt-radio [type="radio"] ~ label,
.kdt-checkbox [type="checkbox"] ~ label {
    position: relative;
}

.kdt-radio [type="radio"] ~ label {
    padding-top: 26px;
}

.kdt-checkbox [type="checkbox"] ~ label {
    padding-left: 26px;
}

.kdt-radio [type="radio"] ~ label::before,
.kdt-radio [type="radio"] ~ label::after,
.kdt-checkbox [type="checkbox"] ~ label::before,
.kdt-checkbox [type="checkbox"] ~ label::after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
}

.kdt-radio [type="radio"] ~ label::before,
.kdt-radio [type="radio"] ~ label::after {
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.kdt-radio [type="radio"] ~ label::before,
.kdt-checkbox [type="checkbox"] ~ label::before {
    border: 2px solid #4d4d4d;
    background-color: #fff;
}

.kdt-radio [type="radio"] ~ label::after,
.kdt-checkbox [type="checkbox"] ~ label::after {
    height: 0;
    width: 0;
    top: 10px;
    left: 6px;
    transition: all .1s linear;
}

.kdt-checkbox [type="checkbox"] ~ label::after {
    top: 10px;
    left: 10px;
}

.kdt-radio [type="radio"]:checked ~ label::after,
.kdt-checkbox [type="checkbox"]:checked ~ label::after {
    top: 5px;
    background-color: #20a8d8;
    height: 10px;
    width: 10px;
}

.kdt-checkbox [type="checkbox"]:checked ~ label::after {
    left: 5px;
    top: 5px;
}

.kdt-radio [type="radio"]:disabled ~ label,
.kdt-checkbox [type="checkbox"]:disabled ~ label {
    opacity: .5;
}

.kdt-radio-aside [type="radio"] ~ label::before,
.kdt-radio-aside [type="radio"] ~ label::after {
    left: 0;
}

.kdt-radio-aside [type="radio"] ~ label {
    padding-top: 0;
    padding-left: 15px;
}

.responsive-linear-scale {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 5em;
}

.responsive-linear-scale > div {
    flex: 1;
}